@using LibraryAC.Models.LibraryViewModels
@model LibraryViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index - @Model.UserScore</h2>


<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {   
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>
            <td>
                @if (!book.IsBorrowed)
                {
                    @Html.ActionLink("Borrow", "Borrow", new { id = book.Id }, new { @class = "btn btn-primary" })
                }
                else
                {
                    @Html.ActionLink("Return", "Return", new { id = book.Id }, new { @class = "btn btn-warning" })

                }
            </td>
        </tr>
    }
    
    </tbody>
</table>

